<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index,follow" />

        <meta name="description" content="Préfailles,ville,Marie,office,tourisme" />
        <title>{% block title %}Welcome!{% endblock %}</title>
         {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.9.2.custom.css') }}" type="text/css" media="all"/>
        <link rel="stylesheet" href="{{ asset('css/font-awesome-4.0.3/css/font-awesome.min.css') }}" type="text/css" />

        <link rel="stylesheet" href="{{ asset('css/font-awesome-4.0.3/css/font-awesome.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/prefailles.css') }}" type="text/css" media="all" />
        {% if map is defined %} 
            {{ google_map_css(map) }}
        {% endif %}
        {% endblock %}
    </head>
    
    <body id="bg">
        <div class="page-header">
            {% block navbar %}{% endblock %}    
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
       {% block javascripts %}
        <script src="{{ asset('js/jquery/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
         <script src="{{ asset('jquery/jquery-migrate-1.1.1.min.js') }}" type="text/javascript"></script>
        <script type="text/javascript" src="{{ asset('js/jquery/jquery-ui-1.9.2.custom.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/blur.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/vague.js') }}"></script>
         <script type="text/javascript" src="{{ asset('js/camera.min.js') }}"></script>
        {% if map is defined %} 
            {{ google_map_js(map) }}
        {% endif %}

        <script type="text/javascript">

            $(document).ready(function() {
                /* $('#bg').blurjs({
                 source: 'body',
                 radius: 5,
                 overlay: 'rgba(0, 0, 0, .1)'
                 });*/
                $("#datepicker").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    dateFormat: 'yy-mm-dd',
                    showWeek: true,
                    firstDay: 1,
                });

                /* var vague = $(".myblur").Vague({
                 intensity:2 //blur intensity
                 });
                 vague.blur();*/
     /*  $('.camera_wrap').camera();
       
        $('.camera_wrap').camera({ //here I declared some settings, the height and the presence of the thumbnails 
	height: '20%',
	pagination: true,
	thumbnails: false
});*/
       /*  jQuery(function(){
			
			jQuery('.camera_wrap').camera({
				height: '20%'
                                //thumbnails: true
			});

		});*/
            });
         
            
        </script>


{% endblock %}

    </body>
</html>



