{% extends "ApplicationEservicesBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationeservices/css/news') }}" type="text/css" media="all"/>
   
 {% endblock %}


{% block javascripts %}
{{ parent() }}

<script type="text/javascript" src="{{ asset('jquery/jquery.raty.js') }}"></script>
 <script type="text/javascript">
    $('.star').raty({
       /* path: '/images',*/
        readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  }
});
</script>
 {% endblock %}


{% block content_header '' %}
{% block title %}
MES NOTES-PRODUITS 
{% endblock %}
{% block content %}

{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
<div class="alert alert-{{ type }}">
            {{ flashMessage|trans }}
    </div>
    {% endfor %}
{% endfor %}
 <div class="row">
<div class="col-lg-8">
 {% if is_granted("ROLE_USER") %}   
    <a href="{{ path('enotes_new') }}" class="btn btn-medium btn-primary"><i class="icon-plus"></i> Ajouter une note</a>
{% endif %}
    <br><br>
       {% for entity in paginationa %}
<div class="mypost">
    
    <div class="row"> 
 <div class="col-lg-3">
   <a href="{{ path('enotes_show', { 'id': entity.id }) }}">
 <span class="badge">{{ entity.id }}</span></a>
    {{ entity.produit.name }}
   </div>
            <div class="col-lg-3"> 
    {% if entity.produit.proprietaire is not null %}   
           <span class="glyphicon glyphicon-user"></span> <span class="label label-primary">
{{ entity.produit.proprietaire.username }}</span>
     
    {% else %}
        ---
    {% endif %}
    </div>
  
     <div class="col-lg-3 col-lg-offset-3"> 
    {% if entity.produit.image is not null %}               
     <img width="40px" src="{{ vich_uploader_asset(entity.produit, 'image') }}" alt="{{ entity.produit.imageName }}" />
    {% else %}
        ---
    {% endif %}
        </div>  
            </div>
  <div class="row"> 

          <div class="col-lg-3"> 
               <span class="glyphicon glyphicon-time"></span>  <span class="label label-info">
     {% if entity.updated is defined %}
                  
 {{ entity.updated|date('Y-m-d') }}
    
     {% else %}
                        ---
     {% endif %}
                        </span>
                        </div>
 <div class="col-lg-3"> 
       <a href="{{ path('enotes_show', { 'id': entity.id }) }}">
           <img src="{{ asset('bundles/applicationeservices/images/detail.png') }}" alt="show" width="15" height="15" />
                </a>
                       
         <a href="{{ path('enotes_edit', { 'id': entity.id }) }}">
           <img src="{{ asset('bundles/applicationeservices/images/edit.png') }}" alt="edit" width="15" height="15" />
           </a>
         </div>  
       <div class="col-lg-3 col-lg-offset-3"> 
 
     
         {% if entity.note is defined %}
           <div class="star" data-score="{{ entity.note }}"></div>
         
        {% else %}
   <div class="star" data-score="0"></div>
        {#({{ entity.globalnote }})#}
        {% endif %}
          
            
   
     </div>
              </div>
    </div>
    
    
        {% endfor %}
              

  {{ knp_pagination_render(paginationa) }}
</div>
     
   <div class="col-lg-1"> 2</div>
   
</div>
  
    {% endblock %}
