{% extends "ApplicationEservicesBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
   <style>
 form#newform {background-color:whitesmoke; }
 </style>  
 {% endblock %}

             
{% block javascripts %}
{{ parent() }}
{{ tinymce_init() }}
{% endblock %}
 
{% block content_header '' %}

      {% block title %}
Ajouter Un Produit
{% endblock %}



{% block content %}

 <form id="newform" action="{{ path('eproduit_create') }}" method="post" {{ form_enctype(form) }}>
    <table class="table table-bordered">
    <tbody>         <tr>
            <td>
                 <div>
                  {{ form_row(form.name) }}
                {#     {{ form_row(form.services) }}#}
              </div>
         
               </td>
                  
 <td>
 {{ form_row(form.description) }}
{{ form_rest(form) }} </td>
                                 </tr>
                                     
<tr><td colspan="3">
                                   
  <button type="submit" class="btn btn-small btn-warning">Modifier</button>
   <a href="{{ path(btnretour)  }}" class="btn btn-small btn-success">Retour</a>
  
                                    
                                       
                                </td></tr>
                        </tbody>
                    </table>
   </form>       
{% endblock %}
