{% extends "FOSUserBundle::layout.html.twig" %}
  
  {% block stylesheets %}

{{ parent() }} 
{#<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" />#}

    
   
    <style type="text/css">
             html {
             background: url(images/cac.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

	 body {
            padding-top: 20px;
            font-size: 16px;
            font-family: "Open Sans",serif;
            background: transparent;
        }
       /* .well{opcacity:2;}
	*/
       

.margin-base-vertical {
        margin: 40px 0;
    }
div#mytext{
text-align: center;
}
</style> 
 {% endblock %}
        
        {% block title %}{% endblock %}

{% block fos_user_content %}
            <br><br>
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
 
  
  <div class="row">
    <!-- Alignment -->
     <div class="col-sm-offset-3 col-sm-6">
 
      <!-- Form itself -->
    <form class="well margin-base-vertical" role="form" action="{{ path("fos_user_security_check") }}" method="post">
           <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
      <legend>LOGIN</legend>
 
       <!-- Full Name -->
     <div class="control-group">
           <div class="controls">
               <p class="input-group">
                <span class="input-group-addon"><span class="icon-user"></span></span>
      <input type="text" class="form-control" id="username" name="_username" placeholder="Username" value="{{ last_username }}" required="required" />
      </p>
        <p class="help-block"></p>
       </div>
     </div>

        <!-- Email -->
     <div class="control-group">
             <div class="controls">
                   <p class="input-group">
                <span class="input-group-addon"><span class="icon-key"></span></span>
      
         <input type="password" class="form-control" id="password" name="_password" placeholder="Password" required="required" />
    </p>
        </div>
    </div>   
  
         
    <div id="success"> </div> <!-- For success/fail messages -->
    <br />
    <div class="control-group">
             <div class="controls">
      <button type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />Submit</button>
 {#<button type="submit" class="btn btn-primary pull-left">Send</button><br />#}
           </div>
    </div>   
   
     </form>
    </div>
  </div>
{% endblock fos_user_content %}