{% extends "::prefailles_base.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationeservices/css/news') }}" type="text/css" media="all"/>
<style>
    .demo .colors {
        overflow: hidden;
        margin: 20px 0;
        padding-left: 55px;
    }

    .demo .colors li {
        display: block;
        width: 96px;
        height: 96px;
        margin: 10px;
        float: left;
        border: 16px solid;
    }

    .demo .warm {
        display: none;
    }  
    .table{margin-left:20px;margin-right:20px;}
</style>
 {% endblock %}


{% block javascripts %}
{{ parent() }}
{% endblock %}


{% block content_header '' %}
{% block title %}
MES PRODUITS 
{% endblock %}
{% block content %}



{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
<div class="alert alert-{{ type }}">
            {{ flashMessage|trans }}
</div>
    {% endfor %}
{% endfor %}



<!-- Carousel
================================================== -->



<div class="row">
    <div class="col-lg-4 offset-2"> 

        <div id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">

                    <img src="{{ asset('images/IMG_0450.JPG') }}" align="center" alt="notes_edit" />
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Bootstrap 3 Carousel Layout TEST</h1>
                            <p>This is an example layout with carousel that uses the Bootstrap 3 styles.
                                <a title="Bootstrap 3" href="http://getbootstrap.com" class="">Bootstrap 3 RC 1 is now available!</a></p>
                            <p><a class="btn btn-large btn-primary" href="#">Sign up today</a>
                            </p></div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-3"><a href="#x" class="thumbnail">
                                <img src="{{ asset('images/IMG_0458.JPG') }}" width="50px" alt="Image" class="img-responsive"></a>

                        </div>
                        <div class="col-sm-3"><a href="#x" class="thumbnail">
                                <img src="{{ asset('images/IMG_0450.JPG') }}" alt="Image" class="img-responsive"></a>


                        </div>
                        <div class="col-sm-3"><a href="#x" class="thumbnail">
                                <img src="{{ asset('images/IMG_0458.JPG') }}" alt="Image" class="img-responsive"></a>

                        </div>
                        <div class="col-sm-3"><a href="#x" class="thumbnail">
                                <img src="{{ asset('images/IMG_0461.JPG') }}" alt="Image" class="img-responsive"></a>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-3"><a href="#x" class="thumbnail">
                                <img src="{{ asset('images/IMG_0458.JPG') }}" alt="Image" class="img-responsive"></a>

                        </div>
                        <div class="col-sm-3"><a href="#x" class="thumbnail">
                                <img src="{{ asset('images/IMG_0450.JPG') }}" alt="Image" class="img-responsive"></a>


                        </div>
                        <div class="col-sm-3"><a href="#x" class="thumbnail">
                                <img src="{{ asset('images/IMG_0458.JPG') }}" alt="Image" class="img-responsive"></a>

                        </div>
                        <div class="col-sm-3"><a href="#x" class="thumbnail">
                                <img src="{{ asset('images/IMG_0461.JPG') }}" alt="Image" class="img-responsive"></a>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="item">
                    <img src="{{ asset('images/IMG_0459.JPG') }}" align="center" alt="notes_edit" />
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Percentage-based sizing</h1>
                            <p>With "mobile-first" there is now only one percentage-based grid.</p>
                            <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>  
        </div>
        <a href="#"><img alt="Prefailles | Ville de Prefailles" src="http://www.prefailles.fr/images/mer-home_rub1_off.gif" name="rub1" border="0"></a><br>
        <a href="#"><img alt="Prefailles | Ville de Prefailles" src="http://www.prefailles.fr/images/mer-home_rub1_off.gif" name="rub1" border="0"></a><br>
        <a href="#"><img alt="Prefailles | Ville de Prefailles" src="http://www.prefailles.fr/images/mer-home_rub1_off.gif" name="rub1" border="0"></a><br>
        <a href="#"><img alt="Prefailles | Ville de Prefailles" src="http://www.prefailles.fr/images/mer-home_rub1_off.gif" name="rub1" border="0"></a><br>
        
    </div>
    <div class="col-lg-4 offset2">
        <div id="myCarousel1" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel1" data-slide-to="1"></li>
                <li data-target="#myCarousel1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">

                    <img src="{{ asset('images/IMG_0450.JPG') }}" align="center" alt="notes_edit" />
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Bootstrap 3 Carousel Layout TEST</h1>
                            <p>This is an example layout with carousel that uses the Bootstrap 3 styles.
                                <a title="Bootstrap 3" href="http://getbootstrap.com" class="">Bootstrap 3 RC 1 is now available!</a></p>
                            <p><a class="btn btn-large btn-primary" href="#">Sign up today</a>
                            </p></div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-3"><a href="#x" class="thumbnail">
                                <img src="{{ asset('images/IMG_0458.JPG') }}" width="50px" alt="Image" class="img-responsive"></a>

                        </div>
                        <div class="col-sm-3"><a href="#x" class="thumbnail">
                                <img src="{{ asset('images/IMG_0450.JPG') }}" alt="Image" class="img-responsive"></a>


                        </div>
                        <div class="col-sm-3"><a href="#x" class="thumbnail">
                                <img src="{{ asset('images/IMG_0458.JPG') }}" alt="Image" class="img-responsive"></a>

                        </div>
                        <div class="col-sm-3"><a href="#x" class="thumbnail">
                                <img src="{{ asset('images/IMG_0461.JPG') }}" alt="Image" class="img-responsive"></a>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-3"><a href="#x" class="thumbnail">
                                <img src="{{ asset('images/IMG_0458.JPG') }}" alt="Image" class="img-responsive"></a>

                        </div>
                        <div class="col-sm-3"><a href="#x" class="thumbnail">
                                <img src="{{ asset('images/IMG_0450.JPG') }}" alt="Image" class="img-responsive"></a>


                        </div>
                        <div class="col-sm-3"><a href="#x" class="thumbnail">
                                <img src="{{ asset('images/IMG_0458.JPG') }}" alt="Image" class="img-responsive"></a>

                        </div>
                        <div class="col-sm-3"><a href="#x" class="thumbnail">
                                <img src="{{ asset('images/IMG_0461.JPG') }}" alt="Image" class="img-responsive"></a>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="item">
                    <img src="{{ asset('images/IMG_0459.JPG') }}" align="center" alt="notes_edit" />
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Percentage-based sizing</h1>
                            <p>With "mobile-first" there is now only one percentage-based grid.</p>
                            <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>  
        </div>
        <!-- menu côté ville -->
        <a href="#"><img alt="Prefailles | Ville de Prefailles" src="http://www.prefailles.fr/images/mer-home_rub1_off.gif" name="rub1" border="0"></a><br>
        <a href="#"><img alt="Prefailles | Ville de Prefailles" src="http://www.prefailles.fr/images/mer-home_rub1_off.gif" name="rub1" border="0"></a><br>
        <a href="#"><img alt="Prefailles | Ville de Prefailles" src="http://www.prefailles.fr/images/mer-home_rub1_off.gif" name="rub1" border="0"></a><br>
        <a href="#"><img alt="Prefailles | Ville de Prefailles" src="http://www.prefailles.fr/images/mer-home_rub1_off.gif" name="rub1" border="0"></a><br>
 
    </div>
</div>

    {% endblock %}
